.i {
  width: 0.95em !important;
  height: 0.95em !important;
  font-size: 0.95em !important;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}
.c-app {
  display: flex;
  justify-content: center;
  align-items: center;
}
